* { 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: monospace, sans-serif;
 }

form {
    padding-top: 40px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 65%;
    align-items: flex-start;
    max-width: 600px;
 }

 input {
     width: 400px;
 }

 .titleField {
    display: none;
 }

 #titleField {
     width: 100%;
     border: none;
     font-size: 24px;
     margin-bottom: 5px;
     margin-right: 10px;
     resize: none;
     outline: none;
     overflow: hidden;
}

 .nameField {
    display: none;
 }

 #nameField {
     width: 300px;
     border: none;
     font-size: 15px;
     margin-bottom: 5px;
     outline: none;
 }

 .bodyField {
     display: none;
 }

 #bodyField {
    width: 450px;
    border: none;
    overflow: hidden;
    display: block;
    resize: none;
    line-height: 1.4;
    height: min-content;
    font-size: 18px;
    outline: none;
 }

 #postBtn {
     border-radius: 16px;
     width: 100px;
     font-size: 17px;
     border: 2px solid #333;
     padding: 4px 12px;
     text-transform: uppercase;
     background-color: #fff;
     cursor: pointer;
     margin-left: auto;
     margin-top: 20px;
 }

 #postArea {
    padding-top: 40px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 65%;
    align-items: flex-start;
    max-width: 450px;
 }


 #newTitle {
    width: 100%;
    margin-bottom: 5px;
 }

 #newName {
    width: 300px;
    font-size: 15px;
    margin-bottom: 5px;
 }

 #newBody {
    width: 450px;
    resize: none;
    line-height: 1.4;
    height: min-content;
    font-size: 18px;
 }